<div class="pz_down">
  <div class="container">
    <div class="pos">
      <div class="foot-nav">
        <ul>
          <li>
            <p>产品</p>
            <div>
              <a>室内外一体化定位系统</a>
              <a>厘米级定位系统</a>
              <a>米级定位系统</a>
              <a>主动导航系统</a>
              <a>万能物联网系统</a>
              <a>融合定位系统</a>
            </div>
          </li>
          <li>
            <p>解决方案</p>
            <div>
              <a>工业互联网</a>
              <a>大健康</a>
              <a>电力能源</a>
              <a>公检法司</a>
              <a>智慧煤矿</a>
              <a>工程建设</a>
              <a>智慧导航</a>
              <a>智慧政务</a>
              <a>了解更多</a>
            </div>
          </li>
          <li>
            <p>新闻与活动</p>
            <div>
              <a>企业动态</a>
              <a>展会活动</a>
              <a>市场洞察</a>
            </div>
          </li>
          <li>
            <p>关于寻息</p>
            <div>
              <a>企业简介</a>
              <a>企业文化</a>
              <a>联系我们</a>
              <a>免责声明</a>
              <a>友情链接</a>
            </div>
          </li>
          <li></li>
        </ul>
      </div>
      <div class="foot-right">
        <p>联系我们</p>
        <div>
          <a>苏州(总部)</a>
          <a>重庆(大区中心)</a>
          <a>深圳(大区中心)</a>
        </div>
        <p style="margin-top: 20px;font-size: 20px;letter-spacing:2px">400-996-581</p>
        <ul class="qc">
          <li class="l1" id="icon_1">
            <img _tip="w24 h24" class="img1" src="./img/icon/b_foot1.png" width="100%" alt="">
            <img _tip="w24 h24" class="img2" src="./img/icon/c_foot1.png" width="100%" alt="">
            <div class="qc-code">
              <img _tip="w24 h24" class="img2" src="./img/guanwei.jpg" width="100%" alt="">
            </div>
          </li>
          <li class="l1" id="icon_2">
            <img _tip="w24 h24" class="img1" src="./img/icon/b_foot2.png" width="100%" alt="">
            <img _tip="w24 h24" class="img2" src="./img/icon/c_foot2.png" width="100%" alt="">
            <div class="qc-code">
              <img _tip="w24 h24" class="img2" src="./img/guanwei.jpg" width="100%" alt="">
            </div>
          </li>
          <li class="l1" id="icon_3">
            <img _tip="w24 h24" class="img1" src="./img/icon/b_foot3.png" width="100%" alt="">
            <img _tip="w24 h24" class="img2" src="./img/icon/c_foot3.png" width="100%" alt="">
            <div class="qc-code">
              <img _tip="w24 h24" class="img2" src="./img/guanwei.jpg" width="100%" alt="">
            </div>
          </li>
          <li class="l1">
            <img _tip="w24 h24" class="img1" src="./img/icon/b_foot4.png" width="100%" alt="">
            <img _tip="w24 h24" class="img2" src="./img/icon/c_foot4.png" width="100%" alt="">
            <div class="qc-code">
              <img _tip="w24 h24" class="img2" src="./img/guanwei.jpg" width="100%" alt="">
            </div>
          </li>
          <li class="l1" id="icon_4">
            <img _tip="w24 h24" class="img1" src="./img/icon/b_foot5.png" width="100%" alt="">
            <img _tip="w24 h24" class="img2" src="./img/icon/c_foot5.png" width="100%" alt="">
            <div class="qc-code">
              <img _tip="w24 h24" class="img2" src="./img/guanwei.jpg" width="100%" alt="">
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div style="clear: both;"></div>
    <div class="copyright">
      <span class="copyright-log"><img src="./img/logo-white.png" alt=""></span>
      <span>|</span>
      <span>
        苏州寻息电子科技有限公司©Copyright 2016 XML地图
      </span>
      <span>
        苏ICP备16011751号-1
      </span>
    </div>
  </div>
</div>